body {
  background-color: #0d2839;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0; }

.centered {
  text-align: center; }

div.info_window {
  width: 42em; }

div.info_window_fixed {
  width: 42em; }

.fixed {
  height: 7em; }

.footer {
  background: #0d2839;
  border-top: 1px solid #12212b;
  clear: both;
  color: #588b9b;
  font-size: .75em;
  padding: 1em 0;
  text-align: center;
  width: 100%; }
  .footer a {
    color: #f9faf3;
    text-decoration: none; }
    .footer a:hover {
      border-bottom: 1px dotted #50A9CA;
      color: #588b9b;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in; }

h1 {
  color: #f9faf3;
  font-family: "Oswald", sans-serif;
  font-size: 4em;
  font-weight: 400;
  letter-spacing: .05em;
  margin: 0 0 .2em 0;
  text-shadow: 4px 4px 0px #cc0029; }

h2 {
  color: #588b9b;
  font-family: "Oswald", sans-serif;
  font-size: 1.8em;
  letter-spacing: .05em;
  line-height: 1;
  text-shadow: 1px 1px 2px #164563; }

h2.dark {
  color: #0d2839;
  text-shadow: 1px 1px 2px #6295a6; }

.hideDesktop {
  display: none; }

.hideMobile {
  display: inline; }

img {
  float: left; }

.main_menu {
  background: #12212b;
  /* The Fallback */
  background: rgba(18, 33, 43, 0.9);
  height: 4em;
  width: 100%;
  border-bottom: 1px solid #06131c;
  position: fixed;
  z-index: 99; }

nav {
  float: right; }
  nav a {
    color: #f9faf3;
    text-decoration: none; }
    nav a:hover {
      border-bottom: 1px dotted #50A9CA;
      color: #588b9b;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in; }
  nav ul {
    list-style: none;
    margin: 1em 0 2em 0; }
    nav ul li {
      float: left;
      font-family: "Open Sans", sans-serif;
      margin-left: 2em;
      padding: .3em .1em;
      display: block; }

.resources, .aboutus {
  color: #12212b;
  float: left;
  width: 50%; }
  .resources a, .aboutus a {
    color: #f9faf3;
    text-decoration: none; }
    .resources a:hover, .aboutus a:hover {
      border-bottom: 1px dotted #50A9CA;
      color: #0d2839;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in; }
  .resources ul, .aboutus ul {
    list-style: none;
    padding: 0; }
  .resources li, .aboutus li {
    margin: .4em 0; }

.smaller {
  font-size: smaller;
  margin-top: 5em; }

.scrollarea {
  overflow: scroll; }

strong {
  text-transform: uppercase;
  font-size: .9em; }

td, th {
  padding-left: 1em; }

.wrap {
  width: 66em;
  margin: auto;
  padding: 5em 0;
  overflow: hidden; }

.wrapNoMargin {
  margin: auto;
  overflow: hidden;
  padding: 0;
  width: 66em; }

.background {
  background: url("../images/background.png") no-repeat center center;
  background-size: cover;
  -moz-backgorund-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* INTRO STYLES */
#blurb p {
  color: #f9faf3;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.7;
  margin: 0;
  padding: 1em 0 1em 0;
  -webkit-font-smoothing: antialiased; }

.buttonContainer {
  margin: 1em 0 3em 0; }

.CTA {
  font-size: .8em;
  background: #588b9b;
  background: rgba(88, 139, 155, 0.8);
  color: #0d2839;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  letter-spacing: .075em;
  padding: .8em 2em;
  text-decoration: none;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 0.7em;
  -moz-border-radius: 0.7em;
  border-radius: 0.7em; }

.CTA:hover {
  color: #f9faf3;
  background: #cc0029;
  text-shadow: 2px 2px 0px #a30021;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }

.luggageIcon {
  float: left;
  margin-right: 3em;
  margin-bottom: 6em; }

#intro {
  clear: both;
  padding-top: 5em; }

#intro .wrap {
  width: 45em; }

/* SEARCH AND PLEDGE STYLES */
/* PLEDGE STYLES */
#feedback {
  display: none;
  color: #f9faf3; }

#feedback, #petition {
  margin: 0 0 0 3em;
  padding: 0;
  z-index: 8;
  position: absolute;
  height: 42em;
  max-width: 20em; }
  #feedback a, #petition a {
    color: #588b9b;
    text-decoration: none; }
    #feedback a:hover, #petition a:hover {
      border-bottom: 1px dotted #50A9CA;
      color: #f9faf3;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in; }
  #feedback h1, #petition h1 {
    font-size: 3em;
    padding: 0;
    margin: 0;
    text-shadow: 3px 3px 0px #cc0029; }
  #feedback h2, #petition h2 {
    color: #f9faf3;
    font-family: "Oswald", sans-serif;
    font-size: 1.5em;
    letter-spacing: .001em;
    line-height: 1;
    padding-top: 1em;
    margin-bottom: .5em;
    text-shadow: none;
    -webkit-font-smoothing: antialiased; }

input[type=text], textarea {
  font-size: .8em;
  font-style: italic;
  border: 1px solid #DDDDDD;
  margin: 0;
  padding: .5em;
  width: 96%; }

input:focus, textarea:focus {
  border: 1px solid #fff;
  outline: none; }

.link_txt {
  margin-left: 1em; }

#pledges {
  background: #0d2839;
  float: left;
  width: 100%; }

.pledgeColumn {
  float: left;
  width: 28%;
  padding: 0 5em 0 0; }
  .pledgeColumn ul {
    list-style: none; }
  .pledgeColumn li {
    color: #f9faf3;
    font-size: 1em;
    font-weight: 300;
    margin: .8em; }
  .pledgeColumn p {
    margin: 1em 0;
    padding: 0; }
  .pledgeColumn .name {
    font-weight: bold; }

#pledgeColumn_3 {
  padding: 0; }

.right_bar {
  width: 30%;
  max-width: 25em;
  height: 100%;
  float: right;
  right: 1em; }
  .right_bar #pet_link {
    cursor: pointer;
    background: #588b9b;
    color: #0d2839;
    font-family: "Oswald", sans-serif;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: .075em;
    padding: .8em 1.8em;
    text-decoration: none;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 0.7em;
    -moz-border-radius: 0.7em;
    border-radius: 0.7em; }
  .right_bar #pet_link:hover {
    color: #f9faf3;
    background: #0d2839;
    text-shadow: 2px 2px 0px #051118;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out; }
  .right_bar .expl {
    color: white;
    font-size: .6em;
    margin: .6em 0 2em 0;
    -webkit-font-smoothing: antialiased; }
  .right_bar .chk_label {
    color: white;
    font-size: .6em;
    margin: .6em 0 5em 0;
    -webkit-font-smoothing: antialiased; }
  .right_bar .label {
    color: #f9faf3;
    margin: 1.2em 0px .2em 0px;
    font-size: .9em;
    -webkit-font-smoothing: antialiased; }
  .right_bar p.pledgeText {
    color: #f9faf3;
    font-family: "Oswald", sans-serif;
    font-size: 1.5em;
    margin: .5em 0 1.25em 0;
    padding: 0;
    -webkit-font-smoothing: antialiased; }
  .right_bar span {
    font-size: .6em; }

.social_btns {
  padding-bottom: 10px;
  height: 48px; }
  .social_btns img {
    margin: 5px;
    cursor: pointer; }

/* MAP and SEARCH STYLES */
#address {
  width: 87%; }

#find_btn {
  color: #f9faf3;
  font-family: "Oswald", sans-serif;
  letter-spacing: .1em;
  padding-left: .5em;
  text-transform: uppercase; }
  #find_btn:hover {
    color: #12212b;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out; }

.main {
  height: 60em;
  background: #333; }

#mapper {
  height: 60em;
  width: 65%;
  max-width: 61em;
  float: left;
  z-index: 5;
  position: absolute; }

.search {
  background: #cc0000;
  /* The Fallback */
  background: rgba(204, 0, 0, 0.8);
  width: 85%;
  max-width: 40em;
  margin: .3em 0px 0px 2em;
  padding: 1em;
  cursor: pointer;
  float: left;
  position: absolute;
  left: 2em; }

#search {
  width: 70%;
  max-width: 46em;
  z-index: 8;
  position: absolute; }

#instructions {
  background: #181818;
  background: rgba(24, 24, 24, 0.5);
  border-radius: .5em;
  color: #f9faf3;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  letter-spacing: .7;
  margin: 6em 0em 3em 8em;
  padding: 2em;
  position: absolute;
  width: 28em;
  z-index: 9;
  text-align: center; }

/* SEARCH RESULTS STYLES */
.circle_num {
  border-radius: 50%;
  color: white;
  float: left;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  margin: .5em 0 0 0;
  text-align: center;
  font-size: 1.5em; }

.pledger {
  list-style: none; }

.ig_text {
  float: left;
  font-size: 1.3em;
  text-align: left;
  margin: .5em .4em 1.25em .7em; }

.bluebg {
  background-color: #0d2839; }

.redbg {
  background-color: #cc0029; }

.lightbluebg {
  background-color: #588b9b; }

.total_col {
  width: 25%;
  float: left; }
  .total_col .red {
    color: #cc0029; }
  .total_col .blue {
    color: #0d2839; }
  .total_col .lightblue {
    color: #588b9b; }

.ev_date {
  font-weight: bold;
  text-align: right;
  vertical-align: top; }
  .ev_date a {
    text-decoration: none;
    color: #0d2839; }

.ev_landlords {
  padding-bottom: .5em;
  vertical-align: top; }

.info_address {
  color: #0d2839;
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
  float: left;
  margin-bottom: 0.6em; }

.with_dd {
  margin-top: .6em; }

.without_dd {
  margin-top: -.3em; }

.info_table {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  clear: both; }

td {
  padding-bottom: 1.25em; }

.header_nums {
  font-family: "Oswald", sans-serif;
  margin-bottom: .8em;
  clear: both; }

.dirty_dozen {
  width: 21em;
  height: 3.5em;
  border-radius: 0px 0px .4em .4em;
  background-color: #cc0029;
  margin-left: 35%;
  margin-top: -1.25em;
  margin-bottom: 1.25em;
  padding: .1em .8em .4em .4em; }

.dd_hdr {
  font-family: "Oswald", sans-serif;
  font-size: 1.3em;
  color: white; }

#dd_hdr {
  margin-top: .8em;
  margin-left: 1.7em;
  -webkit-font-smoothing: antialiased; }

#dd_lrn {
  font-family: "Open Sans", sans-serif;
  font-size: .7em;
  font-weight: 600;
  color: black;
  margin-left: .5em;
  text-decoration: none; }

.no_evictions {
  float: left;
  font-size: 1.5em;
  text-align: left;
  margin: .5em 0em .5em 1em;
  color: #588b9b; }

/* SEE WHO PLEDGED STYLES */
.page_buttons {
  clear: both; }
  .page_buttons a {
    text-decoration: none;
    color: #f9faf3;
    cursor: pointer; }

.previous {
  float: left; }

.previous a, .more a {
  color: #f9faf3;
  text-decoration: none; }
  .previous a:hover, .more a:hover {
    border-bottom: 1px dotted #50A9CA;
    color: #588b9b;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in; }

.more {
  float: right;
  position: absolute;
  right: 10%; }

/* LEARN MORE STYLES */
#learnMore {
  background: #588b9b;
  wrap: left;
  clear: both; }

/* MEDIA QUERIES. ABANDON ALL HOPE YE WHO ENTER HERE */
/* styles for browsers larger than 20em/320px but smaller than 75em/1200px. EM references font size 16px */
@media all and (max-width: 30em) {
  body {
    font-size: 11px;
    line-height: 1.2; }

  h1 {
    margin: 0 0 .5em 0; }

  .hideMobile {
    display: none; }

  .hideDesktop {
    display: inline; }

  i {
    margin: 0 .5em 0 0; } }
@media all and (max-width: 800px) {
  body {
    font-size: 14px; }

  #blurb p {
    padding: .5em 0 1em 0; }

  .buttonContainer {
    margin: 0 0 2.5em 0; }

  .hideMobile {
    display: none; }

  .hideDesktop {
    display: block; }

  #address {
    width: 83%; }

  .luggageIcon {
    display: none; }

  .right_bar {
    position: inherit;
    float: none;
    width: 100%; }

  .mapSearch {
    postion: inherit;
    width: 100%;
    height: 60em;
    margin-bottom: -8em; }

  .main {
    height: 58em; }

  #petition, #feedback {
    float: none;
    position: inherit;
    max-width: 100%;
    margin: 0;
    width: 24em;
    padding: 0; }

  #mapper {
    float: none; }

  #pledges, .resources, .aboutus {
    float: none;
    padding: 1em 0;
    width: 24em; }

  .main_menu {
    background: #12212b;
    /* The Fallback */
    background: rgba(18, 33, 43, 0.9);
    height: 4em;
    width: 100%;
    border-bottom: 1px solid #06131c;
    position: fixed;
    z-index: 99; }

  nav li {
    float: left;
    font-family: "Open Sans", sans-serif;
    margin-left: 2em;
    padding: .3em .1em;
    display: block; }

  .pledgeColumn {
    width: 99%;
    padding: 0; }

  #sorryMobile {
    border-radius: .5em;
    background: #f9faf3;
    background: rgba(249, 250, 243, 0.6);
    margin: 1em 0 2em 0;
    padding: .5em; }

  .wrap {
    margin: auto;
    padding: 1em;
    width: 25em; }

  .wrapNoMargin {
    width: 28em; } }
@media all and (min-width: 801px) and (max-width: 1160px) {
  body {
    font-size: 12px; }

  .wrap {
    width: 100%; }

  #blurb p {
    padding: .5em 0; }

  #logoImage {
    width: 127px;
    height: 40px; } }
